body{
    background-image: url('https://img2.akspic.ru/previews/0/4/4/0/5/150440/150440-priroda-alpy-prirodnyj_landshaft-gornyj_hrebet-gornyj_relef-550x310.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}